.h5peditor .h5peditor-rb-model-loader-container .thumbnail {
  width: 80px;
  height: 50px;
  min-height: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f5f5;
  box-shadow: 0 0 4px #dfe2e3;
  border-radius: 8px;
  border: 1px solid #dfe2e3;
}
.h5peditor .h5peditor-rb-model-loader-container .remove {
  font-size: 1.5rem;
  top: -2px;
  right: -2px;
}
.h5peditor .h5peditor-rb-model-loader-container .remove:before {
  text-shadow: #9ba5a8 0 0 3px;
}
.h5peditor .h5peditor-rb-model-loader-container .thumbnail img {
  display: none;
}

/* Preview */
.h5p-editor-3d-model-loader-preview-element {
  width: 600px;
  height: 450px;
}
